node_modules/
dist/
.DS_Store
public/models/*.gguf
public/models/*.bin
public/models/*.part*
ex/

# Node.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.venv
venv/
ENV/
env.bak/
venv.bak/

# Common Editors
.vscode/
.idea/
*.swp
*.swo
